<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>

    style 
        include ../public/style.css
</head>

<body>
    <div class="box">
        <nav id="navbar" class="item1 h-nav">
            <div id="navleft" class="v-class">
                <div class="logo"><img src="../public/web.png" alt="logo"></div>
                <h2 class="h2">EventAMP</h2>
            </div>

            <ul id="navright" class="list v-class">
                <li><a href="#">Menu</a></li>
                <li><a href="/about">Home</a></li>
                <li><a href="#section2">Services</a></li>
                <li><a href="#section3">About Us</a></li>
                <li><a href="#section3">Contact</a></li>

            </ul>

            <div class="burg">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>

            | <!-- <button class="btn-sm">Search</button> -->
        </nav>

        <div id="small1" class="item2">
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="mobile">
                <div class="phone"><img src="../public/mobile.png" alt="mobile"></div>
            </div>
            <div class="sidebar">
                <a href=""><img class="symbol1" src="../public/Publish.png" alt="symbol"></a>
                <a href=""><img class="symbol1" src="../public/view.png" alt="symbol"></a>
                <a href=""><img class="symbol1" src="../public/undo.png" alt="symbol"></a>
            </div>
        </div>
        <section id="section" class="item2">
            <h1>MOBIRISE</h1>
            <h1>WEBSITE BUILDER</h1>
            <div class="button">
                <button class="btn-sm2">Dates</button>
                <button class="btn-sm3">Speakers</button>
            </div>
        </section>

        <section id="section1" class="item2">
            <img class="main-img1" src="../public/web1.jpg" alt="img1">
            <p class="para">
                | <!-- <h2 class="h2">Home</h2> -->
                | A website (also written as web site) is a collection of web pages and related content that is identified
                | by a common domain name and published on at least one web server. Notable examples are wikipedia.org,
                | google.com, and amazon.com.

                | All publicly accessible websites collectively constitute the World Wide Web. There are also private
                | websites that can only be accessed on a private network, such as a company's internal website for its
                | employees.

                | Websites are typically dedicated to a particular topic or purpose, such as news, education, commerce,
                | entertainment, or social networking. Hyperlinking between web pages guides the navigation of the site,
                | which often starts with a home page.

                | Users can access websites on a range of devices, including desktops, laptops, tablets, and smartphones.
                | The app used on these devices is called a web browser.
                | The World Wide Web (WWW) was created in 1990 by the British CERN physicist Tim Berners-Lee.[1] On 30
                | April 1993, CERN announced that the World Wide Web would be free to use for anyone, contributing to the
                | immense growth of the Web.[2] Before the introduction of the Hypertext Transfer Protocol (HTTP), other
                | protocols such as File Transfer Protocol and the gopher protocol were used to retrieve individual files
                | from a server. These protocols offer a simple directory structure which the user navigates and where
                | they choose files to download. Documents were most often presented as plain text files without
                | formatting or were encoded in word processor formats.
            </p>
        </section>
        <section id="section2" class="item2">
            <img class="main-img" src="../public/Web-design-img.jpg" alt="img1">
            <p class="para">
                | Web design encompasses many different skills and disciplines in the production and maintenance of
                | websites. The different areas of web design include web graphic design; user interface design (UI
                | design); authoring, including standardised code and proprietary software; user experience design (UX
                | design); and search engine optimization. Often many individuals will work in teams covering different
                | aspects of the design process, although some designers will cover them all.[1] The term "web design" is
                | normally used to describe the design process relating to the front-end (client side) design of a website
                | including writing markup. Web design partially overlaps web engineering in the broader scope of web
                | development. Web designers are expected to have an awareness of usability and if their role involves
                | creating markup then they are also expected to be up to date with web accessibility guidelines.
                | In 1989, whilst working at CERN Tim Berners-Lee proposed to create a global hypertext project, which
                | later became known as the World Wide Web. During 1991 to 1993 the World Wide Web was born. Text-only
                | pages could be viewed using a simple Although web design has a fairly recent history. It can be linked
                | to other areas such as graphic design, user experience, and multimedia arts, but is more aptly seen from
                | a technological standpoint. It has become a large part of people's everyday lives. It is hard to imagine
                | the Internet without animated graphics, different styles of typography, background, videos and
                | music.line-mode browser.[2] In 1993 Marc Andreessen and Eric Bina,
                | created the Mosaic browser. At the time there were multiple browsers, however the majority of them were
                | Unix-based and naturally text heavy. There had been no integrated approach to graphic design elements
                | such as images or sounds. The Mosaic browser broke this mould.
            </p>
            <img class="main-img" src="../public/webdesign-98.jpg" alt="img1">
            <p class="para">
                | Web development is the work involved in developing a Web site for the Internet (World Wide Web) or an
                | intranet (a private network).[1] Web development can range from developing a simple single static page
                | of plain text to complex web applications, electronic businesses, and social network services. A more
                | comprehensive list of tasks to which Web development commonly refers, may include Web engineering, Web
                | design, Web content development, client liaison, client-side/server-side scripting, Web server and
                | network security configuration, and e-commerce development.

                | Among Web professionals, "Web development" usually refers to the main non-design aspects of building Web
                | sites: writing markup and coding.[2] Web development may use content management systems (CMS) to make
                | content changes easier and available with basic technical skills.
                | Although web design has a fairly recent history. It can be linked to other areas such as graphic design,
                | user experience, and multimedia arts, but is more aptly seen from a technological standpoint. It has
                | become a large part of people's everyday lives. It is hard to imagine the Internet without animated
                | graphics, different styles of typography, background, videos and music.

                | For larger organizations and businesses, Web development teams can consist of hundreds of people (Web
                | developers) and follow standard methods like Agile methodologies while developing Web sites. Smaller
                | organizations may only require a single permanent or contracting developer, or secondary assignment to
                | related job positions such as a graphic designer or information systems technician. Web development may
                | be a collaborative effort between departments rather than the domain of a designated department. There
                | are three kinds of Web developer specialization: front-end developer, back-end developer, and full-stack
                | developer. Front-end developers are responsible for behavior and visuals that run in the user browser,
                | while back-end developers deal with the servers.
            </p>
        </section>
        <section id="section3" class="item2">
            <h2 class="h2" id="heading">
                | ABOUT US
            </h2>
            <p class="para1">
                | It is impossible to imagine modern businesses surviving without a website and/or a mobile application.
                | From hospitality and retail, manufacturing to education, every domain is plush with businesses competing
                | with each other by creating highly engaging websites and apps.

                | Given the extensive reach and visibility that websites and applications offer, having your own business
                | website and a mobile app is a no-brainer today. However, simply creating one for the sake of having it
                | does not suffice. If you consider building or revamping your own website, quality is of paramount
                | importance.
                | You would be surprised to know that a lot of entrepreneurs have tried their hand at designing and
                | developing their own websites. The emergence of several DIY platforms has allowed individuals to explore
                | this process firsthand. However, in most cases, the end result has been far from what they expected.

                | Most enterprises outsource the web development process to companies that specialize in providing these
                | services. Full-service web development companies usually have a team of managers, software engineers,
                | coders, web designers and marketing professionals who work closely with their clients to bring website
                | and mobile app ideas to fruition.
                | As is evident from the millions of business sites on the internet, websites come in a variety of styles
                | and sizes. A website can be custom-built by a web development company to suit the unique needs and
                | preferences that a business has. Unlike the websites developed during the last decade, these days
                | websites are created taking a mobile-first approach. This means developing your website for smaller
                | (handheld) devices and then adapting it for access on a laptop or PC. The approach a web development
                | company takes to create your business site would depend on a range of factors that include the
                | following:
                | -The type of business (B2C / B2B)
                | -The industry or domain that you operate within
                | -The geographies and audience demographics that you cater to
                | -Your budget for the creation and maintenance of the website
                | -Your objectives and goals (both short term and long term)
            </p>
        </section>

        <footer id="footer" class="item2">

        </footer>
    </div>

    script 
        include ../public/logic.js
</body>

</html>